{{ $data := $.Site.Data.navigation }}
<!--specify menu in data/navigation.yml-->
<!--in data/navigation.yml-->
<!-- 
  header_layout: "logo-left" // logo-left,
  main:
  - key: "Services"
    title: "Services"
    path: "/about.md" // Get the permalink based on the specified content path
    key: "services"   // Or find a page that uses a Param called "key" matches this key's value.
    button: true // False by default. If true, use the btn style.
    sub:
      - name: "Brand"
        title: "Brand"
      - name: "Web"
        title: "Web"
      - name: "Market" -->
<header class="main-header js-main-header">
  <div class="container container--md">
    <div class="main-header__layout">
      {{ $header_layout := "logo-left" }}
      {{ with $data.header_layout }}
        {{ $header_layout = . }}
      {{ end }}

      {{ if eq $header_layout "logo-left" }}
      <div class="main-header__logo">
        
        <a href="/">
        {{ with $data.logo_text }}
          <h1>{{ . }}</h1>
        {{ else }}
      <svg width="130" height="32" viewBox="0 0 130 32"><title>Go to homepage</title><circle fill="var(--color-primary)" cx="16" cy="16" r="16"/><rect fill="var(--color-contrast-higher)" x="41" y="11" width="89" height="10"/></svg>
        {{ end }}
        </a>
      </div>
      {{ end }}
      <button class="btn main-header__nav-trigger js-main-header__nav-trigger" aria-label="Toggle menu" aria-expanded="false" aria-controls="main-header-nav">
        <i class="main-header__nav-trigger-icon" aria-hidden="true"></i>
      </button>

      <nav class="main-header__nav js-main-header__nav" id="main-header-nav" aria-labelledby="main-header-nav-label" role="navigation">
        <div id="main-header-nav-label" class="main-header__nav-label">Main menu</div>
        <ul class="main-header__nav-list">
          {{ $data_query := $data.main }}

            {{ range $data_query }}

            {{- /* <!-- get these values --> */ -}}
            {{ $permalink := false }}
            {{ $name := false }}
            {{ $btn := false }}
            {{ $query := false }}
            {{ $sub := false }}
      
            {{- /* <!-- user defined absolute url --> */ -}}
            {{ if .url }}
              {{ with .url }}
                {{ $permalink = . }}
              {{ end }}
            {{- /* <!-- user defined path --> */ -}}
            {{ else if .path }}
              {{ with .path }}
              
                {{ $permalink = ($.Site.GetPage .).Permalink }}
              {{ end }}
            {{- /* <!-- look for matching key --> */ -}}
            {{ else if .key }}
              {{ $query = where $.Site.Pages ".Params.key" .key }}
              {{ range $query }}
                {{ $permalink = .Permalink }}
              {{ end }}
            {{ end }}

            {{ with .name }}
              {{ $name = . }}
            {{ end }}
            {{ with .button }}
              {{ $btn = true }}
            {{ end }}
            {{ with .name }}
              {{ $sub = true }}
            {{ end }}
            
            {{- /* <!--create the sub nav --> */ -}}
              {{ if $permalink }}
                {{ if $btn }}
                <li class="main-header__nav-item main-header__nav-divider" aria-hidden="true"></li>
                <li class="main-header__nav-item"><a href="{{ $permalink }}" class="btn btn--primary">{{ $name }}</a></li>
                {{ else }}
                <li class="main-header__nav-item"><a class="main-header__nav-link" href="{{ $permalink }}">{{ $name }}</a></li>
                 
                {{ end }}<!-- button -->

              {{ end }}<!-- permalink -->
                  


            {{ end }}
          
        </ul>
      </nav>
    </div> <!-- main-header__layout -->
  </div>
</header>